.sticky-content {
  width: 100%;
  min-height: 70px;
  background-color: rgb(130, 182, 46);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  z-index: 1;
  flex-wrap: wrap;

  .header-branding {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      margin: 10px;
    }

    .app-name {
      font-weight: bold;
      font-size: 36px;
      margin: 10px;
      color: white;
    }
  }

  .tab-item {
    margin: 10px;
  }

}
